* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    color: white;
    z-index: 10;
}

header input,
header button {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

/* PRODUCT CARD */
section {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}

section img {
    width: 100%;
    border-radius: 10px;
}

h2 span {
    color: blue;
}
h3 span {
    color: red;
}

.btn {
    background-color: blue;
    color: yellow;
    padding: 12px;
    border-radius: 10px;
}

.btn:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

/* MAIN WRAP */
main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 30px;
    padding-top: 140px;
}

/* FOOTER */
footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: black;
    color: white;
}

/* ================================
   RESPONSIVE
================================ */

/* 1024px — Planshet: 3 → 2 ta card */
@media (max-width: 1024px) {
    section {
        width: 45%;
    }

    header {
        flex-wrap: wrap;
        gap: 10px;
    }
}

/* 768px — Kichik planshet: 2 → 1 card */
@media (max-width: 768px) {
    section {
        width: 100%;
    }

    main {
        justify-content: center;
    }

    header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    header input {
        width: 100%;
        max-width: 300px;
    }
}

/* 480px — Telefon */
@media (max-width: 480px) {
    header {
        position: static;
      
    }
    main {
        padding: 30px;
    }
    header h1 {
        font-size: 20px;
    }

    header input {
        width: 100%;
    }

    section {
        padding: 15px;
    }

    .btn {
        padding: 10px;
        font-size: 15px;
    }
}
