* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: black;
    color: white;
}
input, button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}
button {
    cursor: pointer;
}
section {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}
section img {
width: 100%;
border-radius: 10px;
}
h2 span {
    color: blue;
}
h3 span {
    color: red;
}
.btn {
    background-color: blue;
    color: yellow;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 30px;
    padding-top: 130px;
}
.btn:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    color: white;
}